<!-- <table>
  <tr>
    <th>user Id</th>
    <th>Id</th>
    <th>Title</th>
    <th>Completed</th>
  </tr>
   <tr *ngFor="let item of data">
    <td>{{item.userId}}</td>
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.completed}}</td>
     
    
   </tr>
</table>  -->

<table *ngIf="EmpData">
  <tr>
    <th>emp Id</th>
    <th>Name</th>
    <th>salary</th>
  
  </tr>
   <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.salary}}</td>
       
    
   </tr>
</table> 
<button (click)="fetchData()">fetch Data</button>
<hr>

<input type="text" placeholder="enter id"  #inputelement/>
<button (click)="fetchDataByID(inputelement)">fetch data by Id</button>