<!-- <table>
  <tr>
    <th>user Id</th>
    <th>Id</th>
    <th>Title</th>
    <th>Completed</th>
  </tr>
   <tr *ngFor="let item of data">
    <td>{{item.userId}}</td>
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.completed}}</td>
     
    
   </tr>
</table>  -->

<table>
  <tr>
    <th>emp Id</th>
    <th>Name</th>
    <th>salary</th>
  
  </tr>
   <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.salary}}</td>
       
    
   </tr>
</table> 